<div id="<%= dom_id song %>">
  <p>
    <strong>Title:</strong>
    <%= song.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= song.artist %>
  </p>

  <p>
    <strong>Key:</strong>
    <%= song.key %>
  </p>

  <p>
    <strong>Playlist:</strong>
    <%= song.playlist_id %>
  </p>

</div>
