<div class="container">
  <p style="color: green"><%= notice %></p>
  <%= link_to "Add a new song", new_song_path %>

  <h1>Songs</h1>

  <table class="table" id="songs">
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Artist</th>
      <th>Key</th>
      <th>Mastered</th>
    </th>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.name, song %></td>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
        <td><%= song.key %></td>
        <td><%= song.mastered %></td>
      <tr>
    <% end %>
  </table>
</div>

