<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= item.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= item.artist %>
  </p>

  <p>
    <strong>Key:</strong>
    <%= item.key %>
  </p>

  <p>
    <strong>Mastered:</strong>
    <%= item.mastered %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= item.rank %>
  </p>

</div>
