<tbody>
 <tr class="" id="<%= dom_id item %>">
    <td class="text-light">
      <%= item.title %>
    </td>
    
    <td class="text-light">
      <%= item.artist %>
    </td>
    
    <td class="text-light">
      <%= item.key %>
    </td>
    
    <td>
        <%= link_to "Show this item", item, class:"text-light" %>
    </td>
  </tr>
</tbody>
